* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cef3d2b0;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.square {
    background-color: #CEF4D3;
    height: 560px;
    width: 560px;
    position: relative;
}

.sun {
    background-color: #fff;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    top: 17%;
    left: 20%;
    scale: 0.8;
}

.sun::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff40;
    height: 145%;
    width: 145%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.sun::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff3d;
    height: 185%;
    width: 185%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.containerMontanhasEGrama{
    position: absolute;
    width: 100%;
    bottom: 10%;
}

.gramaWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
}

.arvoreWrapper{
    position: absolute;
    top: calc(-100% + 22px);
    left: 15%;
}

.arvore2{
    left: auto;
    right: 45%;
    top: calc(-100% + 37px);
    transform: scale(0.7);
}

.arvore2 .tronco,
.arvore3 .tronco {
    width: 4px;
}

.arvore3{
    top: calc(-100% + 37px);
    transform: scale(0.7);
    left: 18%;
}

.arvore3 .folhas{
    border-color: transparent transparent #55C593 transparent;
}

.tronco{
    background-color: #B99491;
    width: 5px;
    height: 19px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.folhas{
    width: 20px;
    border-style: solid;
    border-color: transparent transparent #7FE299 transparent;
    border-width: 0px 15px 55px 15px;
}

.grama {
    background-color: #7EE495;
    border-radius: 40px;
    height: 24px;
    width: 35%;
    margin: 0 auto 20px auto;
}

.montanhasWrapper{
    /* border: 1px solid pink; */
    height: 100%;
}

.montanha{
    background-color: #1F5172;
    height: 210px;
    width: 50px;
}

.gramaPrincipal{
    background-color: #55C497;
    border-radius: 7px;
    height: 18px;
    width: 80%;
    margin: 0 auto;
}

.grama1{
    width: 70%;
}

.grama2{
    margin: 0 0 0 28%;
    height: 34px;
}

.gramaSquare{
    content: "";
    height: 20px;
    width: 70px;
    background-color: #7EE495;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    left: 37%;
}

.gramaSquare::after,
.gramaSquare::before,
.nuvemSquare::after,
.nuvemSquare::before {
    content: "";
    background-color: #CEF4D3;
    height: 20px;
    border-radius: 40px;
    top: 0px;
    width: 50px;
    left: -40px;
    position: absolute;
}

.gramaSquare::before {
    left: auto;
    right: -30px;
    background-color: #CEF4D3;
}
.nuvemWrapper{
    position: absolute;
    top: 32%;
    left: 15%;
    transform: scaleY(0.9);
}

.nuvem{
    width: 100px;
    position: relative;
}

.nuvemLinha{
    background-color: #fff;
    border-radius: 40px;
    height: 20px;
    margin-bottom: 14px;
}

.linha2{
   margin: 0 -20px 0 20px;
   width: 110%;
}

.nuvemSquare{
    background-color: #fff;
    height: 20px;
    width: 30px;
    position: absolute;
    top: 19px;
    left: 35%;
}

.nuvemSquare::after,
.nuvemSquare::before {
    height: 15px;
    top: 0px;
    width: 50px;
    left: -45px;
}

.nuvemSquare::before {
    width: 50px;
    right: -45px;
    left: auto;
}